.fondoLogin {
    -fx-background-image: url(GIF_fondoDinamico.gif);
    -fx-pref-height: 600;
    -fx-pref-width: 600;
}

.ingresoNombreJugadores {
    -fx-background-radius: 0;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-font-size: 17;
    -fx-alignment: CENTER;
    -fx-focus-traversable: false;
    -fx-border-width: 1.5;
    -fx-border-style: solid;
    -fx-border-color: rgb(155, 155, 155);
}

.ingresoNombreJugadores:hover{
    -fx-border-width: 1.5;
    -fx-border-color: rgb(205, 205, 205);
}

.ingresoNombreJugadores:focused{
    -fx-border-width: 1.5;
    -fx-border-color: rgb(0, 0, 0);
}

.botonesLogin {
    -fx-background-radius: 0;
    -fx-max-width: 200;
    -fx-max-height: 200;
    -fx-background-color: rgb(51, 51, 51);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-font-size: 19;
    -fx-cursor: pointer;
    -fx-alignment: CENTER;
}

.botonesLogin:hover {
    -fx-background-color: rgb(83, 83, 83);
}

.botonesInferiores {
    -fx-effect: dropshadow( gaussian , rgb(86, 86, 86), 4,0,0,1 );
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 19;
    -fx-alignment: CENTER;
}
.botonesInferiores:hover {
    -fx-font-weight: bold;
}

.notificacionMensaje {
    -fx-background-color: none;
    -fx-text-fill: #ff0000;
    -fx-font-family: "Arial";
    -fx-font-size: 19;
    -fx-alignment: CENTER;
}

.notificacionMensaje:hover {
    -fx-font-weight: bold;
}